# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables (CRITICAL: Do not upload these)
.env

# Docker
.docker/
docker-compose.override.yml

# IDEs
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Node
node_modules/
dist/
.npm/
